<div class="container">
  <% if @count_ads > 0 %>
   <div class="top-space"></div>
    <% @ads.each do |ad| %>
    <div class="panel panel-primary">
     <div class="panel-heading">
       <h3 class="panel-title"><%= ad.title%></h3>
     </div>
     <div class="panel-body">
       <%= ad.description%>
       
     </div>
    </div>
    <%end%>
    <%else%>
    <h2>No hay avisos</h2>
   <%end%>
</div>
